body {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}


h1, h2, h4 {
  text-align: center;
}
h4{
  font-size: 34px;
  font-weight: 700;
}

#cardfooter{
  display: flex;  flex-direction: row;  justify-content: center;
}
button {
  padding: 10px;
  margin-top: 25px;
  margin-left: 45%;
  cursor: pointer;
  font-size: 24px;
  background-color: purple;
  color: white;
}